<% include head %>

<div>
	<div id="about">
		<h2>Help Expat Berlin</h2>
		<h3>What is Help Expat Berlin?</h3>
		<div class="request-container">
			<p>
				Living in a foreign country is an amazing and enriching experience. But not speaking fluently its language can be daunting at times, and Berlin is no exception. From a simple phone call to an important appointement, obtaining valuable help can be a life-saver.
			</p>
			<p>
				Help Expat Berlin is a website that lets users obtain or provide help to each others for administrative tasks, or any service that could require the help of a native or experienced german in Berlin.
			</p>
		</div>
		<h3>Logging in</h3>
		<div class="request-container">
			<p>
				Logging in is done through facebook only. No user information, apart from the username, is publicly displayed on Help Expat Berlin.
			</p>
			<p>
				If you don't have an account on Help Expat Berlin yet, logging in with facebook automatically creates one.
			</p>
		</div>
		<h3>How does it work?</h3>
		<h4>I want to provide help</h4>
		<div class="request-container">
			<ul>
				<li>
					Log in first, and browse through the requests list to find a service you are fit to provide. Use the filters if needed. When you are logged in, your filters are saved automatically.
				</li>
				<li>
					Once you have found a service you can contribute to, click on <em>Propose Help</em>.
				</li>
				<li>
					The user is notified in his profile section that someone has proposed help for this specific service. It is up to them to accept your help or not.
				</li>
				<li>
					The user is notified in his profile section that someone has proposed help for this specific service.
				</li>
				<li>
					If the user accepts your help, you are both put in contact with each other in the <em>Messages</em> section in your profile dashboard.
				</li>
				<li>
					Communicate with the requester using messages. From there on, it is up to you to reveal any personal information or not.
				</li>
				<li>
					<em>Help Expat Berlin does not take care of, or guarantee, any payment</em>, if the requester offers one. It is only a platform designed to put people in contact with each other.
				</li>
				<li>
					The requester can then close their request and choose to rate you, based on their satisfaction. Once done, you can rate them back in the <em>Services</em> section of your <em>Profile</em> dashboard.
				</li>
			</ul>
		</div>
		<h4>I want to request help</h4>
		<div class="request-container">
			<ul>
				<li>
					Make sure you are logged in. Click on <em>New request</em> and fill in the form with as many information as possible. Make the description clear. <em>DO NOT</em> enter any personal information in the description and title fields.
				</li>
				<li>
					You can choose to offer payment for the service. <em>Help Expat Berlin does not take care of, or guarantee, any payment</em>, if the requester offers one. It is only a platform designed to put people in contact with each other. It is up to the users to arrange payment on their own terms.
				</li>
				<li>
					Once submitted, your request is made public. You can choose to delete it at any point in your Profile dashboard.
				</li>
				<li>
					When a user propose their help for your request, you are notified in the <em>Requests</em> section of your <em>Profile</em> dashboard. It is up to you to accept it or not.
				</li>
				<li>
					When you accept help from a user, you are both put in contact with each other in the <em>Messages</em> section in your profile dashboard.
				</li>
				<li>
					Communicate with the provider using messages. From there on, it is up to you to reveal any personal information or not.
				</li>
				<li>
					Once the user has provided help, you can then close your request and choose to rate the provider, based on your satisfaction. The user can then rate you back.
				</li>
			</ul>
		</div>
		<h3>Guidelines</h3>
		<div class="request-container">
			<ul>
				<li>
					Do NOT post any personal information in your requests. Requests are made public for everyone to see.
				</li>
				<li>
					When posting a new request, try to be as descriptive and precise as possible, without revealing any personal information. A well-written request is more likely to receive help.
				</li>
				<li>
					Be civil. Any use of explicit, racist, obscene or vulgar language, or messages will result in a permanent ban.
				</li>
				<li>
					If you have to meet a user, make use of vigilance and good judgement. Meet the person in a crowded, public place. Do not share any personal information beforehand.
				</li>
				<li>
					Be fair and honest when rating a user. Ratings are here to screen potential misbehavior. Abuse of the system may result in a ban.
				</li>
				<li>
					Commercial website linking or advertising is not allowed and will result in a permanent ban.
				</li>
				<li>
					Soliciting ratings is not allowed.
				</li>
			</ul>
		</div>
	</div>

<% include footer %>

