<% include head %>

<form id="login-form" method="post" action="./new">
    <h2>Create a new account</h2>
    <label for="email">Email</label><br>
    <input class="email" type="text" name="email" required><br>
    <label for="username">Username</label><br>
    <input class="username" type="text" name="username" required><br>
    <label for="password">Password</label><br>
    <input class="password" type="password" name="password" required><br>
    <input class="button" type="submit" value="Create">
</form><br>
<a title ="Your account will be created automatically. Your personal data will not be used or displayed." href="/auth/facebook" class="fb_connect">Create an account with Facebook</a>

<% include footer %>


<!-- Login disabled 
<form id="login-form" method="post" action="/auth/login">
    <h2>Login </h2>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" required>
    <p><input class="button" type="submit" value="Log in"></p>
</form>
-->