<% include head %>

<div class="request-container small">
	<p>This is the <b>test version</b> of Help Expat Berlin. Please feel free to log in using one of the credentials set below and experiment with the website's functionalities as much as you want.</p>
	<p class="test-login inline">
		<img src="images/email-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="testuser1@test.com" readonly /><br>
		<img src="images/password-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="test" readonly />
	</p>
	<p class="test-login inline">
		<img src="images/email-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="testuser2@test.com" readonly /><br>
		<img src="images/password-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="test" readonly />
	</p>
	<p class="test-login inline">
		<img src="images/email-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="testuser3@test.com" readonly /><br>
		<img src="images/password-icon.png" width="12px"> <input onClick="this.setSelectionRange(0, this.value.length)" value="test" readonly />
	</p>
</div>

<form id="login-form" method="post" action="/auth/login">
    <h2>Login </h2>
    <label for="email"><img src="images/email-icon.png" width="20px"></label>
    <input type="email" name="email" required>
    <label for="password"><img src="images/password-icon.png" width="20px"></label>
    <input type="password" name="password" required>
    <p><input class="button" type="submit" value="Log in"></p>
</form>

<div class="request-container fb-login-request">
<a href="/auth/facebook" class="fb-connect"><img class="fb-logo" src="/images/fb-logo.png" width="20px">Connect with Facebook</a>
<p class="small">If you don't have an account on help-expat-berlin yet, it will be automatically created.</p>
</div>

<% include footer %>