<% include head %>

<% if (!user) { %>
<form id="login-form" method="post" action="auth/login">
    <h2>Login </h2>
    <label>Email</label><br>
    <input class="username" type="text" name="email"><br>
    <label>Password</label><br>
    <input class="password" type="password" name="password"><br>
    <input type="submit" value="OK">
</form><br>
<a href="auth/facebook" class="fb_connect">Connect with Facebook</a><br><br>
<a href="auth/account-create" class="new-account">Create a new account</a>
<% } else { %>
<div class="logged-in">You are logged in as <%= user.username %></div><br>
<a href="auth/profile">My Profile</a><br><br>
<a href="auth/logout">Log Out</a><br><br>
<% } %>
<br><br><a href="auth/showall">Show all users</a>

<% include footer %>