<!DOCTYPE html>
<html>
<head>
    <title>Help Expat Berlin</title>
</head>
<body>
<h1>Help Expat Berlin</h1>
    <form id="login-form">
        <h2>Login</h2>
        <label>Username</label><br>
        <input class="username" type="text" name="username"><br>
        <label>Password</label><br>
        <input class="password" type="password" name="password"><br>
        <input type="submit" value="OK">
        <a href="#" class="logout">Logout</a>
    </form><br>
    <div class="logged-in">You are logged in</div><br>
    <div class="not-logged-in">You are not logged in</div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>