<% include head %>

<% if (!user) { %>
<form id="login-form" method="post" action="users/login">
    <h2>Login </h2>
    <label>Username</label><br>
    <input class="username" type="text" name="username"><br>
    <label>Password</label><br>
    <input class="password" type="password" name="password"><br>
    <input type="submit" value="OK">
</form><br>
<a href="users/facebook" class="fb_connect">Connect with Facebook</a><br>
<a href="users/account-create" class="new-account">Create a new account</a>
<% } else { %>
<div class="logged-in">You are logged in as <%= user.username %></div><br>
<a href="users/profile">My Profile</a><br><br>

<form id="logout-form" method="get" action="users/logout">
    <input type="submit" value="Log Out">
</form>
<% } %>
<br><br><a href="users/showall">Show all users</a>

<% include footer %>