<% include head %>

<form name="login-form" id="login-form" method="post" action="/request/new">
    <h2>Post a new request</h2>
    <label>Type</label>
    <br>
    <select name="type" required>
    	<option value="">---</option>
    	<option value="On site Assistance">On site Assistance</option>
    	<option value="Translation">Translation</option>
    	<option value="Phone Call">Phone Call</option>
    	<option value="Other">Other</option>
    </select>
    <br><br>
    <label>Date</label>
    <br>
    <input class="date" type="datetime-local" name="dateevent">
    <br>
    <label>Price</label>
    <br>
    <input class="price" type="number" name="price">
    <br>
    <label>Rate</label>
    <br>
    <select name="rate">
    	<option value="">---</option>
    	<option value="flat">flat</option>
    	<option value="perhour">per hour</option>
    </select>
    <br>
    <label>Description</label>
    <br>
    <textarea name="description" cols="40" rows="5" placeholder="Please provide a description of the service you are looking for" required></textarea>
    <br><br>
    <input type="submit" value="Submit">
</form>

<% include footer %>