<!DOCTYPE html>
<html>
<head>
    <title>Help Expat Berlin</title>
</head>
<body>
    <h1>Profile</h1>
    <a href="./">Back to landing page</a>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>
</html>