<% include head %>
<div class="profile-header">
	<h2><%= profile.user.username %></h2>
	<p>Rating: -</p>
</div>

<% if (user) { %>
	<% if (String(profile.user._id) == String(profile.currentUser._id)) { %>
	<div class="profile-body">
		<div class="button profile-tab">Profile</div>
		<div class="button requests-tab">Requests</div>
		<div class="button services-tab">Services</div>
		<div class="button messages-tab">Messages</div>
		<div id="profile-container"></div>
	</div>
	<% } %>
<% } %>

<% include footer %>