<% include head %>
<div class="profile-header">
	<h2><%= profile.user.username %></h2>
	<p>Rating: -</p>
</div>

<% if (user) { %>
	<% if (String(profile.user._id) == String(profile.currentUser._id)) { %>
	<div class="profile-body">
		<div class="button proftab profile-tab">Profile</div>
		<div class="button proftab requests-tab">Requests</div>
		<div class="button proftab services-tab">Services</div>
		<div class="button proftab messages-tab">Messages</div>
		<div class="button proftab ratings-tab">Ratings</div>
		<div class="now-loading"><img src="/images/ajax_loading.gif"></div>
		<h3 id="title-profile-section"></h3>
		<div id="profile-container"></div>
	</div>
	<% } %>
<% } %>

<% include footer %>