html {
	font-family: 'Oxygen', sans-serif;
	min-height: 100vh;
}

body {
	min-height: 100%;
	background-color: #F5F8F0;
	text-align: center;
}

#burger {
	display: none;
}

header {
	background-color: #484848;
	color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    background-image: url("/images/berlin.png");
  	background-size: cover;
  	background-position: center;
}

.header-push {
    width: 100%;
    top: 0px;
}

main {
	max-width: 1000px;
	padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
	color: #075F7C;
	font-weight: bold;
    text-decoration: none;
}

#about {
	text-align: left;
	background-color: #F3F6E9;
	padding: 20px;
	color: #364014;
}

#about > h2, #about > h3, #about > h4 {
	color: black;
}

li {
	padding: 5px;
}

#about > h2 {
	text-align: center;
}

em {
	font-weight: bold;
    font-style: normal;
}

.fakelink {
	cursor: pointer;
	color: #075F7C;
	font-weight: bold;
    text-decoration: none;	
}

.fb-connect {
	display: inline-block;
	font-weight: normal;
	padding: 8px 15px 8px 15px;
	border-radius: 5px;
	background-color: #3b5998;
	color: white;
	margin: 10px;
}

.fb-logo {
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 1px;
}

.fb-connect-small {
	font-size: 12px;
	display: inline-block;
	font-weight: normal;
	padding: 7px 13px 5px 13px;
	border-radius: 4px;
	background-color: #3b5998;
	color: white;
	margin: 5px;
}

.fb-logo-small {
	vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 1px;
}

nav {
	text-align: center;
	background-color: #404040;
}

nav a {
	display: inline-block;
	padding: 20px;
	color: #eee;
    text-decoration: none;
}

nav a:hover {
	background-color: #292929;
}

h1 {
	padding: 30px;
	margin: 0px;
}

.no-lb {
	margin: 0;
	padding: 0;
}

.error-banner {
	padding: 20px;
	text-align: center;
	background-color: #FFA4A4;
	color: #B42020;	
}

.alert-banner {
	padding: 20px;
	text-align: center;
	background-color: #D0D2FF;
	color: #3B3B93;	
}

.user-desc {
	background-color: #ddd;
	padding: 10px;
}

.request-container {
	background-color: #EDF4DA;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.small > img {
	width: 12px;
}

.request-details {
	padding: 10px;
}

.request-details-less {
	padding: 10px;
	padding-bottom: 0px;
}

.confirm-delete {
	display: inline-block;
	padding: 15px;
	background-color: #FFA4A4;
	color: #B42020;
	display: none;
	border-radius: 5px;
}

input[type="submit"]{
	border: 0px;
	background-color: #417143;	
}

.button {
	display: inline-block;
	border-radius: 3px;
	padding: 10px;
	background-color: #B8C2A7;
	color: white;
	cursor: pointer;
	min-width: 150px;
	font-weight: normal;
	margin: 5px;
}

.button-help {
	margin: 5px;
	background-color: #366933;
}

.button-details {
	background-color: #A7B296;
	padding: 5px;
}

#btn-send-loading {
	display: none;
}

#btn-send-message {

}

.prevnext {
	padding: 5px;
	min-width: 50px;
	background-color: #A7B296;
	margin: 0;
}

.prev-next {
	min-height: 30px;
}

.button-revokehelp {
	background-color: #69333B;
}

.button-profile {
	display: inline-block;
	color: white;
	width: 20%;
	padding: 8px 0 8px 0;
	background-color: #6F7469;
	cursor: pointer;
}

.button-profile:hover {
	background-color: #484C44;
}

.now-loading {
	padding: 20px;
}

.conversation-container-list {
	background-color: #EDF4DA;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;	
}

.conv-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.message-container {
	margin-top: 10px;
	padding: 10px;
	border-radius: 5px;
}

.message-other {
	background-color: #EFF2DC;
	margin-right: auto;
	max-width: 80%;
	text-align: left;
}

.message-mine {
	background-color: #DAF4DB;
	margin-left: auto;
	max-width: 80%;
	text-align: right;
}

.messages-indicator {
	display: inline-block;
	background-color: #AF4B4B;
	border-radius: 50%;
	font-size: 10px;
	padding: 3px 5px 1px 4px;
	font-family: "Lucida Console", Monaco, monospace;
}

#show-hide-filters {
	background-color: #A7B296;
	padding: 3px;
	color: white;
	cursor: pointer;
	margin-bottom: 10px;
}

form {
	background-color: #EDF4DA;
	padding: 10px;
	margin: 5px 0 5px 0;
	border-radius: 10px;
}

label {
	display:block;
	padding: 5px;
}

select, input, textarea {
	border: 1px solid;
	border-color: #ADC091;
	padding: 2px 5px 2px 5px;
	border-radius: 4px;
	background-color: #EFF4EB;
}

/* Hack to remove number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
	width: 50px;
}

.test-site-warning {
	padding: 10px;
}

#filters-form {
	background-color: #E6EEE0;
	margin-bottom: 0px;
	border-radius: 0px;
}

.tiplogin {
	padding-top: 5px;
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.test-login {
	border-radius: 5px;
	margin: 5px;
	padding: 10px;
	background-color: #D5E2CC;
}

.fb-login-request {
	padding: 50px 10px 50px 10px;
}

textarea {
	width: 90%;
	max-width: 400px;
	resize: vertical;
}

.comment {
	background-color: #DFECD4;
    font-style: none;
    padding: 10px;
	max-width: 600px;
	border-radius: 5px;
	margin: 0 auto 0 auto;
}

.small {
	font-size: 13px;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.inline-filter {
	display: inline-block;
	padding: 0 10px 0 10px;
}

.inline {
	display: inline-block;
}

.mobile-profile-menu {
	display: none;
}


/* mobile */
@media only screen and (max-width: 570px) {
	nav {
		display : none;
	}

	#realnav > a {
		display : block;
	}

	#realnav {
		display : none;
		font-size: 18px;
	}

	header {
		text-align: left;
  		background-size: 500px;
  		background-position: top;
	}

	.proftab {
		padding: 8px 0 5px 0;
	}

	h1 {
		font-size: 22px;
		padding: 20px;
	}

	#burger {
		display: block;
		position: absolute;
		top: 20px;
		right: 10px;
		cursor: pointer;
		width: 30px;
	}

	.mobile-profile-menu {
		display: block;
	}

	.normal-profile-menu {
		display: none;
	}
}