html {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #484848;
	color: white;
	text-align: center;
	height: 100%;
}

nav {
	text-align: center;
	background-color: #777;
}

nav a {
	display: inline-block;
	padding: 20px;
	color: #eee;
    text-decoration: none;
}

nav a:hover {
	background-color: #666;
}

h1 {
	padding: 30px;
	margin: 0px;
}

main {
	padding: 20px;
	text-align: center;
}

.error-banner {
	padding: 20px;
	text-align: center;
	background-color: #FFA4A4;
	color: #B42020;	
}

.alert-banner {
	padding: 20px;
	text-align: center;
	background-color: #D0D2FF;
	color: #3B3B93;	
}

.user-desc {
	background-color: #ddd;
	padding: 10px;
}