html {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #484848;
	color: white;
	text-align: center;
	height: 100%;
}

h1 {
	padding: 30px;
	margin: 0px;
}

main {
	padding: 20px;
}